RELDENS_TEST_DB_HOST=localhost
RELDENS_TEST_DB_PORT=3306
RELDENS_TEST_DB_USER=test_user
RELDENS_TEST_DB_PASSWORD=test_password
RELDENS_TEST_DB_NAME=reldens_storage_test
RELDENS_TEST_DB_CLIENT=mysql
RELDENS_DB_URL=mysql://test_user:test_password@localhost:3306/reldens_storage_test
RELDENS_TEST_OBJECTION_ENABLED=0
RELDENS_TEST_MIKRO_ORM_ENABLED=0
RELDENS_TEST_PRISMA_ENABLED=0
RELDENS_TEST_KYSELY_ENABLED=0
RELDENS_TEST_DRIZZLE_ENABLED=0
RELDENS_TEST_MIGRATIONS_PATH=
RELDENS_TEST_RELDENS_DB_NAME=reldens_storage_test_full
