RELDENS_TEST_DB_HOST=localhost
RELDENS_TEST_DB_PORT=3306
RELDENS_TEST_DB_USER=test_user
RELDENS_TEST_DB_PASSWORD=test_password
RELDENS_TEST_DB_NAME=reldens_storage_test
RELDENS_TEST_DB_CLIENT=mysql
RELDENS_DB_URL=mysql://test_user:test_password@localhost:3306/reldens_storage_test
RELDENS_TEST_PRISMA_ENABLED=0
