/**
 *
 * Reldens - {{modelClassName}}
 *
 */

class {{modelClassName}}
{

    constructor({{modelPropertiesList}})
    {
        {{modelPropertiesConstructor}}
    }

    static get tableName()
    {
        return '{{tableName}}';
    }
    {{modelRelations}}
}

module.exports.{{modelClassName}} = {{modelClassName}};
